<header>

  <a href = "/" title ="Home"><h1> Presidential Bitches</h1></a>

  <nav>
    <ul class="navbar-list">
      <li class="navbar-R"><a href="/random">Random</a></li>
      <li class="navbar-A"><a class=add-button href="#">Add</a></li>
    </ul>
  </nav>

</header>
