<header>

  <a href = "/" title ="Home"><h1>Dapper Doggos</h1></a>

  <nav>
    <ul class="navbar-list">
      <li class="navbar-R"><a href="/random">Random</a></li>
      {{#if show_add}}<li class="navbar-A"><a class=add-button href="#">Add</a></li> {{/if}}
    </ul>
  </nav>

</header>
