<header>

  <h1> Presidential Bitches</h1>

  <nav>
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/">Random</a></li>
      <li class="navbar-item"><a href="/Add">Add</a></li>
    </ul>
  </nav>

</header>
