<div id="modal-backdrop" class="sneaky"></div>
<div id="add-photo-modal" class="sneaky">
    <div class="modal-dialogue">
        <div class="modal-header">
          <h1>Add a Sweet New Dog Picture</h1>
        </div>
        <div class="modal-body">
            <div class=photo-input>
                <label for="photo-input-url">URL</label>
                <input type="text" id="new-photo-url">
            </div>
            <div class=photo-input>
                <label for="photo-input-comment">Comment</label>
                <input type="text" id="new-photo-comment">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-cancel">Cancel</button>
            <button type="button" class="modal-confirm">Confirm</button>
        </div>
      </div>
</div>
