<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Doge Nationalist</title>

    <link rel="stylesheet" href="/style.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Niconne|Dosis:500" rel="stylesheet">
  </head>
  <body>

{{{body}}}

  </body>
<script src="/index.js"></script>
</html>
