{{>header show_add = 1}}

<main>

{{#each dogPix}}
  <section class="pix">

    <a href="/pix/{{@key}}">
    <img src={{url}}>
    </a>
    <p> {{comment}} {{rate}} </p>
  </section>
{{/each}}

</main>

{{> footer}}
{{> modal}}
